<%- include("partials/header.ejs")%>

<body class="wrapper">
  <div class="blog content">
    <div class="section">
      <div>
        <h1>The best place to blog</h1>
        <p>
          Thanks for stopping by at my blog site.
          Feel free to add, edit or delete posts.
        </p>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer.ejs")%>